#components-form-demo-normal-login .login-form {
  max-width: 100px;

}
#components-form-demo-normal-login .login-form-forgot {
  
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  
  width: 100%;
}
.lbg{

  background: url("grad.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.form{
  padding-top: 150px;
  padding-left: 500px;
  padding-right: 500px;
  
  align-items:normal;
  flex-direction: row;
}
.crd{
  
}
